::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #444;/*EEB913  404040*/
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
  background-color: white;
  color: #222;
  font-family: Arial, sans-serif;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 500px;
  font-size: 14px !important;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: #0883d1 solid 2px;
}

h3 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #0B9BE8;
  outline: none;
}

#output, #labelInput{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


button#formatBtn {
  background-color: #0B9BE8;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button#formatBtn:hover {
  background-color: #0883d1;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  font-size: 14px;
  color: #444;
}

.toggle-container input[type="checkbox"] {
  display: none;
}

.toggle-slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-container input[type="checkbox"]:checked + .toggle-slider {
  background-color: #0B9BE8;
}

.toggle-container input[type="checkbox"]:checked + .toggle-slider::before {
  transform: translateX(20px);
}

body.dark-mode {
  background-color: #2f2f2f;
  color: white;
}

body.dark-mode input[type="text"] {
  background-color: #444;
  border: 1px solid #444;
  color: white;
}

body.dark-mode input[type="text"]:focus {
  border-color: #0B9BE8;
  outline: none;
}

body.dark-mode button#formatBtn {
  background-color: #0B9BE8;
  color: white;
}

body.dark-mode button#formatBtn:hover {
  background-color: #0883d1;
}

body.dark-mode .toggle-container {
  color: #ccc;
}

body.dark-mode .icon-swap{
  color: #ccc;
}

body.dark-mode legend{
  color: #ccc;
}

body.dark-mode .header{
  border-bottom-color: #919191;
}

legend{
  color: #000;
}



.togglelabel{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.container1y2{
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon-swap{
  font-size: 20px; 
  color: #000;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 12px;
}

#output:hover{
  cursor: default;
}

#output:focus{
  cursor: default;
}
.copy-wrapper {
  display: flex;
  align-items: center;
  
}

.copy-wrapper input {
  flex: 1;
}

button[id^="copyBtn"], button[id^="copyBtnOutput"] {
  background: #0B9BE8;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

button[id^="copyBtn"]:hover, button[id^="copyBtnOutput"]:hover  {
  background-color: #0883d1;
}

button[id^="copyBtn"] i, button[id^="copyBtnOutput"] i {
  transition: all 0.3s ease;
}



















.tabs {
  display: flex;
  margin-bottom: 15px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background-color: #eaeaea;
  border: none;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: transparent;
}

.tab-button.active {
  border-bottom: 2px solid #0B9BE8;
  background-color: #fff;
}

body.dark-mode .tab-button {
  background-color: transparent;
  color: white;
}

body.dark-mode .tab-button.active {
  background-color: #2f2f2f;
  border-bottom: 2px solid #0B9BE8;
}

body.dark-mode #colorSelect,
body.dark-mode select {
  background-color: #444;
  border: 2px solid #6b6b6b;
  color: #fff;
}

body label{
  color: #000;
}
body.dark-mode label{
  color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.separador {
  min-height: 100%;
  width: 2px;
  background-color: #919191;
  margin: 5px 20px;
}

